@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 180 1% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 97%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 0 0% 12%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 0 0% 90%;
    --accent-background:0 4% 5% ;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Inter;
  }
}

@layer components{
  .auth-input{
    @apply w-full h-[43px] px-5 my-1  rounded-md outline outline-0 focus:outline-[3px] outline-blue-300 transition-all  ;
  }
  .hotelform-input{
    @apply  w-full mt-1 p-2 border border-border rounded outline outline-0 focus:outline-2 outline-blue-300 transition-all duration-75
  }
  .hotelform-card{
    @apply bg-white border-2 border-border  p-4 md:p-7
  }
  .hotel-attribute{
    @apply p-2 border-2 border-gray-400 rounded-sm text-sm  font-medium flex items-center gap-2 flex-1 ;
  }
  .custom-container{
    @apply mx-5 md:mx-10 lg:mx-16
  }
}