@tailwind base;
@tailwind components;
@tailwind utilities;

/* ScrollBar */
::-webkit-scrollbar {
    width: 7px;
    background-color: #fcfcf9;
  }
  ::-webkit-scrollbar-thumb {
    background-color: slategray;
  }
  
  body{
    --background: #EDEFEF;
    --foreground:#000000;
    --forground-muted: #9CA3AF;
    --primary:#191919;
    --secondary:#212121;
    --accent:#F9F9F9;
    --card: #F9F9F9;
    --border: #BBBBBB;
  }